body {
    background:rgba(119, 96, 114, 0.808);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
}

.photo {
    border: 10px solid rgb(250, 248, 248);
    border-radius: 300px;
}

#title, .subtitle, .post_title {
    color: rgb(248, 242, 242);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color:rgb(248, 242, 242)
}

post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin bottom: 15px;
    text-transform: capitalize;
}

.post {
    background:rgba(141, 110, 133, 0.89);
    padding: 15px;
    border: 3px solid rgb(250, 247, 247);
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color:rgb(250, 248, 248)
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
    bord-r: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-loft; 15px;
    }

    .contacts_list li a {
        text-decoration: none;
        color: blue;
    }
